<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>AddFirstUserServlet</servlet-name>
        <servlet-class>com.johnnyconsole.temperaturesuite.web.servlet.AddFirstUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.johnnyconsole.temperaturesuite.web.servlet.LoginServlet</servlet-class>
    </servlet>
</web-app>